@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    padding: 100px 60px;
    text-align: center;
    background-color: black;
    color: #ACFADF;
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

}
.hr{
    margin-top: -30px;
    border: #94ADD7 solid 1px;
    width: 15%;

}
li{
    margin: 40px 0;
    list-style: none;
    line-height: 35px;
}
#center {
    position: absolute;
    display: none;
    /* height: 100vh; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.8);
    align-self: center;
  }
  .wave {
    width: 5px;
    height: 100px;
    background: linear-gradient(45deg, #94ADD7, #fff);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
  }
  .wave:nth-child(2) {
    animation-delay: 0.1s;
  }
  .wave:nth-child(3) {
    animation-delay: 0.2s;
  }
  .wave:nth-child(4) {
    animation-delay: 0.3s;
  }
  .wave:nth-child(5) {
    animation-delay: 0.4s;
  }
  .wave:nth-child(6) {
    animation-delay: 0.5s;
  }
  .wave:nth-child(7) {
    animation-delay: 0.6s;
  }
  .wave:nth-child(8) {
    animation-delay: 0.7s;
  }
  .wave:nth-child(9) {
    animation-delay: 0.8s;
  }
  .wave:nth-child(10) {
    animation-delay: 0.9s;
  }
  
  @keyframes wave {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

.btn{
    align-self: center;
    background-color: #94ADD7;
    position: sticky;
    width: 15%;
    height: 2rem;
    margin-top: 5rem;
    top: 0;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}