@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    padding: 100px 60px;
    text-align: center;
    background-color: black;
    color: #ACFADF;
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 40px;

}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

}
.hr{
    margin-top: -30px;
    border: #94ADD7 solid 1px;
    width: 15%;

}
li{
    margin: 40px 0;
    list-style: none;
    line-height: 35px;
}

.btn{
    background-color: #94ADD7;
    position: sticky;
    width: 15%;
    height: 2rem;
    margin-top: 5rem;
    top: 0;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}